output
plots
xml
*_xml
HepDataTools
env
Decouple/src/LHCXSHiggsCouplings/Higgs-coupling-data/mssm-raw/
.svn

*.py[cod]
*.DS_Store
*.dropbox
*.pdf

# ROOT
*.root
G__*
*.o
*.d

# Latex
*.aux
*.log
*.bbl
*.blg
*.dvi
*.spl
*.toc
*.nav
*.gz

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
